@import '../../../styles/utils.scss';

.pagination {
    margin-top: 2rem;

    display: flex;
    align-items: center;

    .number{
        font-size: 0.85rem;
        text-align: center;
        color: $oc-gray-6;
        flex: 1
        /*
        남는 공간 모두 차지하기
        flex:1을 설정하여 양 옆 버튼 크기를 제외하고 크기를 꽉 채워 버튼을 페이지 양 끝에 보이도록 설정
        */
    }
}