@import '../../../styles/utils.scss';

.preview-pane{
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    font-size: 1.125rem;
    .title {
        font-size: 2.5rem;
        font-weight: 300;
        padding-bottom: 2rem;
        border-bottom: 1px solid$oc-gray-4;
    }
}